[Unit]
Description=Mount the encrypted file system
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/root/mount_encrypted_filesystem.sh
ExecStop=/root/unmount_encrypted_filesystem.sh

[Install]
WantedBy=multi-user.target
